USE [cinemaxCESDE]
GO
/****** Object:  StoredProcedure [dbo].[usp_consultar_entradas]    Script Date: 3/06/2026 5:44:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yeisson Fernando Mora cc: 1028007724 and Yully Varela Isaza CC: 32143184>
-- Create date: <2026-06-01,,>
-- Description:	<Preceso almacenado para consultar las entradas por cliente>
-- =============================================
CREATE PROCEDURE  [dbo].[usp_consultar_entradas]
	@clienteID int,
	@totalEntradas int output
AS
BEGIN
	
	SET NOCOUNT ON;
	select c.fullName as Cliente , e.EntradaID , e.FechaCompra, e.Precio, p.titulo as pelicula
	from tblEntradas e inner join tblClientes c  on e.ClienteID = c.ClienteID
					   inner join tblFunciones f on e.FuncionID = f.FuncionID
					   inner join tblPeliculas p on f.peliculaID = p.peliculaID
	where c.ClienteID = @clienteID

	select @totalEntradas = count(*)
	from tblEntradas
	where ClienteID = @clienteID
   
END
GO
/****** Object:  StoredProcedure [dbo].[usp_registro_cliente]    Script Date: 3/06/2026 5:44:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yeisson Fernando Mora cc: 1028007724 and Yully Varela Isaza CC: 32143184>
-- Create date: <2026-06-01,,>
-- Description:	<Preceso almacenado para crear actualizar y eliminar clientes>
-- =============================================
CREATE PROCEDURE [dbo].[usp_registro_cliente]
	@opcion char(1),
	@clienteId int = Null,
	@nombre varchar (100) = Null,
	@correo varchar (80) = Null,
	@telefono varchar(15) = Null,
	@mensaje varchar (100) OUTPUT
	
AS

Begin

IF @opcion = 'I' --Insertar

BEGIN
	SET NOCOUNT ON;  ---Con esta opción se indica al motor de base de datos, 
					 --que mientras permanezca activa la sesión donde se ha ejecutado,

	Insert tblClientes(fullName,correo,telefono)
	values (@Nombre,@correo,@telefono)

	set @mensaje ='Cliente registrado Correctamente'
   
END;

ELse IF @opcion = 'A' --Actualizar

Begin

	Update tblClientes set fullName = @Nombre , correo = @correo , telefono = @telefono
	where ClienteID = @ClienteId

	set @mensaje = 'Cliente Actualizado Correctamente'

End;

Else If @opcion = 'E' --Eliminar

Begin
	
	Delete from tblEntradas 
	where ClienteID = @ClienteId

	Delete from tblClientes
	where ClienteID = @ClienteId

	Set @mensaje = 'Cliente Eliminado Correctamente'
End

End



GO
/****** Object:  StoredProcedure [dbo].[usp_reporte_ventas_pelicula]    Script Date: 3/06/2026 5:44:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Yeisson Fernando Mora cc: 1028007724 and Yully Varela Isaza CC: 32143184>
-- Create date: <03-06-2026>
-- Description:	<Reporte de ventas de pelicula>
-- =============================================
CREATE PROCEDURE [dbo].[usp_reporte_ventas_pelicula]
	@TotalGeneral Decimal(10,2) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	Select p.titulo,count(e.entradaid) as TotalEntradas,sum(e.Precio) as TotalRecaudo,avg(e.Precio) as PrecioPromedio
	from tblEntradas e inner join tblFunciones f on e.FuncionID = f.FuncionID
					   inner join tblPeliculas p on f.peliculaID = p.peliculaID
	Group by p.titulo
	Order by TotalRecaudo desc;

	Select @TotalGeneral = ISNULL(SUM(Precio),0)
	from tblEntradas
	
END
GO
