USE [cinemaxCESDE]
GO
/****** Object:  Table [dbo].[tblClasificacion]    Script Date: 3/06/2026 5:46:05 p. m. ******/
----<Yeisson Fernando Mora cc: 1028007724 and Yully Varela Isaza CC: 32143184>---
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClasificacion](
	[clasificacionID] [char](4) NOT NULL,
	[codigo] [char](6) NOT NULL,
	[edad_min] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clasificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [varchar](50) NOT NULL,
	[correo] [varchar](80) NOT NULL,
	[telefono] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEntradas]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEntradas](
	[EntradaID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FuncionID] [char](5) NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntradaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFunciones]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFunciones](
	[FuncionID] [char](5) NOT NULL,
	[peliculaID] [int] NOT NULL,
	[SalaID] [char](4) NOT NULL,
	[Horario] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FuncionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGenero]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGenero](
	[generoID] [char](4) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[generoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPelicula_Genero]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPelicula_Genero](
	[peliculaID] [int] NOT NULL,
	[generoID] [char](4) NOT NULL,
 CONSTRAINT [PK_PeliculaGenero] PRIMARY KEY CLUSTERED 
(
	[peliculaID] ASC,
	[generoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPeliculas]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPeliculas](
	[peliculaID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[duracion_min] [smallint] NOT NULL,
	[clasificacionID] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[peliculaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPrecios]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrecios](
	[PrecioID] [int] IDENTITY(1,1) NOT NULL,
	[clasificacionID] [char](4) NOT NULL,
	[SalaID] [char](4) NOT NULL,
	[precioBase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrecioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Precio_ClasifSala] UNIQUE NONCLUSTERED 
(
	[clasificacionID] ASC,
	[SalaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSalas]    Script Date: 3/06/2026 5:46:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSalas](
	[SalaID] [char](4) NOT NULL,
	[NombreSala] [varchar](20) NOT NULL,
	[Capacidad] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEntradas]  WITH CHECK ADD  CONSTRAINT [FK_Entradas_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO
ALTER TABLE [dbo].[tblEntradas] CHECK CONSTRAINT [FK_Entradas_Cliente]
GO
ALTER TABLE [dbo].[tblEntradas]  WITH CHECK ADD  CONSTRAINT [FK_Entradas_Funcion] FOREIGN KEY([FuncionID])
REFERENCES [dbo].[tblFunciones] ([FuncionID])
GO
ALTER TABLE [dbo].[tblEntradas] CHECK CONSTRAINT [FK_Entradas_Funcion]
GO
ALTER TABLE [dbo].[tblFunciones]  WITH CHECK ADD  CONSTRAINT [tblPeliculas_tblFunciones] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[tblPeliculas] ([peliculaID])
GO
ALTER TABLE [dbo].[tblFunciones] CHECK CONSTRAINT [tblPeliculas_tblFunciones]
GO
ALTER TABLE [dbo].[tblFunciones]  WITH CHECK ADD  CONSTRAINT [tblSalas_tblFunciones] FOREIGN KEY([SalaID])
REFERENCES [dbo].[tblSalas] ([SalaID])
GO
ALTER TABLE [dbo].[tblFunciones] CHECK CONSTRAINT [tblSalas_tblFunciones]
GO
ALTER TABLE [dbo].[tblPelicula_Genero]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaGenero_Genero] FOREIGN KEY([generoID])
REFERENCES [dbo].[tblGenero] ([generoID])
GO
ALTER TABLE [dbo].[tblPelicula_Genero] CHECK CONSTRAINT [FK_PeliculaGenero_Genero]
GO
ALTER TABLE [dbo].[tblPelicula_Genero]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaGenero_Pelicula] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[tblPeliculas] ([peliculaID])
GO
ALTER TABLE [dbo].[tblPelicula_Genero] CHECK CONSTRAINT [FK_PeliculaGenero_Pelicula]
GO
ALTER TABLE [dbo].[tblPeliculas]  WITH CHECK ADD  CONSTRAINT [tblClasificacion_tblPeliculas] FOREIGN KEY([clasificacionID])
REFERENCES [dbo].[tblClasificacion] ([clasificacionID])
GO
ALTER TABLE [dbo].[tblPeliculas] CHECK CONSTRAINT [tblClasificacion_tblPeliculas]
GO
ALTER TABLE [dbo].[tblPrecios]  WITH CHECK ADD  CONSTRAINT [FK_Precios_Clasificacion] FOREIGN KEY([clasificacionID])
REFERENCES [dbo].[tblClasificacion] ([clasificacionID])
GO
ALTER TABLE [dbo].[tblPrecios] CHECK CONSTRAINT [FK_Precios_Clasificacion]
GO
ALTER TABLE [dbo].[tblPrecios]  WITH CHECK ADD  CONSTRAINT [FK_Precios_Sala] FOREIGN KEY([SalaID])
REFERENCES [dbo].[tblSalas] ([SalaID])
GO
ALTER TABLE [dbo].[tblPrecios] CHECK CONSTRAINT [FK_Precios_Sala]
GO
